<!DOCTYPE html>
<html>
<head>
  <title>OnTop Search Engine</title>
  <%= stylesheet_link_tag    "application", "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "application", "bootstrap.min" %>
  <%= yield :script %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">OnTop</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3"><h1>Sidebar</h1></div>
      <div class="span9">
        <div class="hero-unit">
          <h1>Welcome to OnTop!</h1>
          <p>OnTop is graphical way to explore Wikipedia and to keep track of what your viewing.</p>
        </div>

        <%= yield %>

        <div class="row-fluid">
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
               tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
               malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
               tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
               malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
               tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem 
               malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer><p>&#169 OnTop 2012</p></footer>
  </div>
</body>
</html>
